services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-smallprogram
    restart: unless-stopped
    volumes:
      - .:/var/www/html
      - ./storage/logs:/var/www/html/storage/logs
    ports:
      - "8000:80"
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
    networks:
      - app-network

networks:
  app-network:
    driver: bridge